body {
  background-color: rgb(204, 200, 200);
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Rowdies', cursive;
}

h1 {
  margin: 0;
  width: 80%;
  background-color: rgb(31, 90, 31);
  padding-left: 20px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

#container {
  width: 700px;
  height: 100vh;
  position: relative;
  background-color: rgb(25, 110, 25);
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white;
}

#dealer-count-box {
  font-size: 20px;
  margin-left: 20px;
  background-color: rgb(47, 45, 45);
  border-radius: 4px;
  width: 175px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0;
  color: white;
}

#count-box {
  font-size: 20px;
  margin-left: 20px;
  background-color: rgb(47, 45, 45);
  border-radius: 4px;
  width: 175px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0;
  color: white;
}

#dealer-counter {
  margin-left: 5px;
  color: rgb(25, 110, 25);
  font-size: 30px;
}

#counter {
  margin-left: 5px;
  color: rgb(25, 110, 25);
  font-size: 30px;
}

#hit:hover, #stay:hover, #rules:hover, #reset:hover {
  background-color: rgb(25, 110, 25);
  border-width: 0px 2px 2px 2px; 
  border-style: solid;
  border-color: rgb(47, 45, 45);
}

#rules-content {
  display: none;
  position: absolute;
  align-items: center;
  flex-direction: column;
  font-size: 23px;
  margin-top: 100px;
  z-index: 1;
  border: 5px solid rgb(47, 45, 45);
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  background-color: rgb(204, 200, 200);
}

#game-winner {
  display: none;
  position: absolute;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  z-index: 1;
  border: 5px solid rgb(47, 45, 45);
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  background-color: rgb(204, 200, 200);
}

#rules-close {
  display: flex;
  font-size: 12px;
  position: absolute;
  top: 2px;
  right: 2px;
  border: 1px solid black;
  background-color: rgb(25, 110, 25);
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  color: white;
  justify-content: flex-end;
  cursor: pointer;
}

#winning-message {
  cursor: pointer;
  font-size: 27px;
  font-family: 'Rowdies', cursive;
}

#new-game-button {
  display: flex;
  border: 1px solid black;
  background-color: rgb(25, 110, 25);
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  color: white;
  cursor: pointer;
  font-size: 27px;
  font-family: 'Rowdies', cursive;
  margin-left: 0px;
  margin-right: 0px;
}

#new-game-button:hover {
  background-color: rgb(31, 90, 31);
}

#table {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  align-items: center;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100px;
  width: 70px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0px 2px;
}

.dealer-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100px;
  width: 70px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0px 2px;
}

.top-left-number {
  top: 4px;
  left: 4px;
}

.center-number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 40px;
  height: 55px;
  font-size: 30px;
  font-weight: bolder;
}

.bottom-right-number {
  bottom: 4px;
  right: 4px;
}

.top-left-number, .bottom-right-number {
  position: absolute;
  font-weight: bolder;
  font-size: 12px;
}

#hit {
  color: white;
  font-size: 23px;
  margin-left: 20px;
  background-color: rgb(47, 45, 45);
  border-radius: 0 0 10px 10px;
  padding: 5px 10px;
  width: 70px;
  display: flex;
  justify-content: center;
  border: 0;
  cursor: pointer;
  font-family: 'Rowdies', cursive;
  border: 2px solid rgb(47, 45, 45);
}

#stay {
  color: white;
  font-size: 23px;
  margin-left: 20px;
  background-color: rgb(47, 45, 45);
  border-radius: 0 0 10px 10px;
  padding: 5px 10px;
  width: 90px;
  display: flex;
  justify-content: center;
  border: 0;
  cursor: pointer;
  font-family: 'Rowdies', cursive;
  border: 2px solid rgb(47, 45, 45);
}

#rules {
  color: white;
  font-size: 23px;
  margin-left: 20px;
  background-color: rgb(47, 45, 45);
  border-radius: 0 0 10px 10px;
  padding: 5px 10px;
  width: 100px;
  display: flex;
  justify-content: center;
  border: 0;
  cursor: pointer;
  font-family: 'Rowdies', cursive;
  border: 2px solid rgb(47, 45, 45);
}

#reset {
  color: white;
  font-size: 23px;
  margin-left: 20px;
  background-color: rgb(47, 45, 45);
  border-radius: 0 0 10px 10px;
  padding: 5px 10px;
  width: 100px;
  display: flex;
  justify-content: center;
  border: 0;
  cursor: pointer;
  font-family: 'Rowdies', cursive;
  border: 2px solid rgb(47, 45, 45);
}

#card-container {
  border: 2px solid rgb(31, 90, 31);
  border-radius: 10px;
  padding: 30px;
  width: 80%;
  height: 100px;
  display: flex;
}

#dealer-container {
  border: 2px solid rgb(31, 90, 31);
  border-radius: 10px;
  padding: 30px;
  width: 80%;
  height: 100px;
  margin-bottom: 50px;
  display: flex;
}

@media (max-width: 400px) {
  h1 {
    font-size: 23px;
    width: 70%;
  }

  #dealer-container, #card-container {
    width: 70%;
  }

  #dealer-count-box, #count-box {
    height: 20px;
    width: 145px;
  }

  #counter, #dealer-counter {
    font-size: 20px;
  }

  #count, #dealer-count {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  body {
    background-color: rgb(25, 110, 25);
  }

  #hit {
    font-size: 17px;
    padding: 3px 0;
    width: 50px;
    height: 30px;
    margin: 0 10px;
  }

  #reset, #rules {
    font-size: 17px;
    padding: 3px 0;
    width: 70px;
    height: 30px;
    margin: 0 10px;
  }

  #stay {
    font-size: 17px;
    padding: 3px 0;
    width: 57px;
    height: 30px;
    margin: 0 10px;
  }
}