body {
  background-color: rgb(204, 200, 200);
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Rowdies', cursive;
}

#container {
  width: 700px;
  height: 100vh;
  position: relative;
  background-color: rgb(25, 110, 25);
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white;
}

#count-box {
  font-size: 23px;
  margin-left: 20px;
  background-color: rgb(47, 45, 45);
  border-radius: 0 0 25px 25px;
  padding: 5px 10px;
  width: 125px;
  display: flex;
  justify-content: space-evenly;
  border: 0;
}

#counter {
  margin-left: 5px;
}

#hit:hover, #rules:hover {
  background-color: rgb(28, 27, 27);
}

#rules-content {
  display: none;
  position: absolute;
  align-items: center;
  flex-direction: column;
  font-size: 23px;
  margin-top: 100px;
  z-index: 1;
  border: 5px solid rgb(47, 45, 45);
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  background-color: rgb(204, 200, 200);
}

#game-winner {
  display: none;
  position: absolute;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  z-index: 1;
  border: 5px solid rgb(47, 45, 45);
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  background-color: rgb(204, 200, 200);
}

#rules-close {
  display: flex;
  font-size: 12px;
  position: absolute;
  top: 2px;
  right: 2px;
  border: 1px solid black;
  background-color: rgb(25, 110, 25);
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  color: white;
  justify-content: flex-end;
  cursor: pointer;
}

#new-game-button {
  display: flex;
  border: 1px solid black;
  background-color: rgb(25, 110, 25);
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
  color: white;
  cursor: pointer;
}

#table {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  align-items: center;
}

.card {
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 100px;
  width: 70px;
  border-radius: 10px;
  cursor: pointer;
}

#top-left-number {
  top: 4px;
  left: 4px;
}

#center-number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 40px;
  height: 60px;
  font-size: 30px;
  font-weight: bolder;
}

#bottom-right-number {
  bottom: 4px;
  right: 4px;
}

#top-left-number, #bottom-right-number {
  position: absolute;
  font-weight: bolder;
  font-size: 12px;
}

#hit {
  color: white;
  font-size: 23px;
  margin-left: 20px;
  background-color: rgb(47, 45, 45);
  border-radius: 0 0 10px 10px;
  padding: 5px 10px;
  width: 70px;
  display: flex;
  justify-content: center;
  border: 0;
  cursor: pointer;
  font-family: 'Rowdies', cursive;
}

#rules {
  color: white;
  font-size: 23px;
  margin-left: 20px;
  background-color: rgb(47, 45, 45);
  border-radius: 0 0 10px 10px;
  padding: 5px 10px;
  width: 100px;
  display: flex;
  justify-content: center;
  border: 0;
  cursor: pointer;
  font-family: 'Rowdies', cursive;
}

#card-container {
  border: 2px solid rgb(31, 90, 31);
  border-radius: 10px;
  padding: 30px;
  width: 80%;
  height: 100px;
}

#dealer-container {
  border: 2px solid rgb(31, 90, 31);
  border-radius: 10px;
  padding: 30px;
  width: 80%;
  height: 100px;
  margin: 50px 0;
}